<div
  class="hero min-h-screen"
  style="background-image: url(<%= image_path('background_banana.webp') %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold"> Banana Counter </h1>
      <p> これから黄色い何かが流れてくるよ、流れてきた本数を数えてね！！ </p>
      <%= link_to stage_path do %>
        <button class="btn btn-primary" id = "slideBtn"> レッツバナナカウント </button>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "index.js", "data-turbo-track": "reload", type: "module" %>