<h1> バナナカウンター </h1>


<body class="bg-gray-100 flex flex-col min-h-screen">
  <header class="bg-blue-600 text-white p-4">
    <div class="container mx-auto">
      <h1 class="text-2xl font-bold">TODOアプリ</h1>
    </div>
  </header>
  <main class="container mx-auto mt-8 flex-grow">
<button class="btn btn-primary">Primary</button>
  </main>
  <footer class="bg-gray-800 text-white text-center p-4 mt-8">
    <p>&copy; 2024 TODOアプリ. All Rights Reserved.</p>
  </footer>
</body>